<template>
<div>
  <div>
     {{msg}}
  </div>
<label> Rotate Left from outside unity </label>
<button v-on:click="LeftClick()">Rotate Left</button>
  <unity 
  src="CrazyBrainBuild/Build/CrazyBrainBuild.json" 
  width="1000"
  height="600" 
  unityLoader="CrazyBrainBuild/Build/UnityLoader.js"
  ref="instance"></unity>  

</div>
</template>

<script>
import Unity from "vue-unity-webgl";

export default {
  components: { Unity },
  name: "HelloWorld",
  props: {
    msg: String
  },
  methods: {
    LeftClick() {
      this.$refs.instance.message("Controller", "RotateLeft");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
